p {
	color: rgba(12, 12, 12, 1);
}

.text-section {
	color: rgba(242, 141, 19, 1);
}

.text-title {
	color: rgba(3, 66, 191, 1);
}

.alert {
	color: rgba(165, 37, 8, 1);
}

.bg-primary {
	background-color: rgba(12, 12, 12, 1);
}

.bg-secondary {
	background-color: rgba(114, 2, 11, 1);
}

header {
	background-color: rgba(12, 12, 12, 1);
	color: #fff;
}
