@import url('./common/header.css');
@import url('./common/footer.css');
@import url('./color.css');
@import url('./feature/hero-section.css');
@import url('./feature/news.css');
@import url('./feature/photos.css');
@import url('./feature//poll.css');
@import url('./feature/videos.css');
@import url('./feature/moment.css');
@import url('./feature/memo.css');

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	/* overflow: hidden; */
}

body {
	font-size: 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

p {
	font-size: 1.1em;
}

main {
	width: 100%;
}

.item-wrap {
	padding: 10px;
	display: flex;
	flex-flow: column nowrap;
	padding: 0 10%;
}

.item-section {
	display: flex;
	flex-flow: column nowrap;
	/* min-height: 200px; */
	margin: 20px 0;
}

.title {
	width: 100%;
}

.title-active {
	color: rgba(165, 37, 8, 1);
	border-bottom: solid 1px rgba(165, 37, 8, 1);
	font-weight: bold;
	font-size: 1.4em;
}

.scroll2Top {
	display: none;
	position: fixed;
	bottom: 100px;
	right: 30px;
}

.visible {
	display: block;
}

.scroll2Top i {
	font-size: 1.4em;
	color: rgba(0, 0, 0, 0.9);
}
