@import url('./common/header.css');
@import url('./common/footer.css');

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

p {
	font-size: 1.1em;
}
